<h1>Users</h1>
<%= link_to "Logout", logout_path, method: :delete %>
<div class="main_container">
<div class="profile">
<div class="photos">
  <% @users.each do |user| %>
    <ul class="photo"> 
   <li> <img src="<%= user.photo %>"> </li>
   </ul>
    <% end %>
</div>

<div class="names_posts">
  <% @users.each do |user| %>
    <ul class="name_post"> 
   <li class="list_name"><%= link_to user.name, user_path(user), style: 'color: #2b9deef1; text-decoration: none;' %> </li>
   <li class="list_countpost">Number of post: <%= user.post_counter %> </li>
   </ul>
    <% end %>
</div>
</div>
</div>