/* Wireframe CSS */

/* Headings */
h2,
h3 {
  border: 3px solid #000;
  padding: 10px;
  margin-bottom: 20px;
}

/* Form Container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form Fields */
.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 500px;
  padding: 8px;
  margin-bottom: 5px;
  border: 3px solid black;
  background-color: white;
  color: black;
}

/* Form Submit Button */
.actions input[type="submit"] {
  display: block;
  padding: 10px;
  background-color: white;
  color: black;
  border: 3px solid #000;
  cursor: pointer;
  width: 522px;
}

/* Error and Success Messages */
.error-message,
.success-message {
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}

.error-message {
  color: red;
  background-color: #ffd2d2;
}

.success-message {
  color: green;
  background-color: #d2ffd2;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Links */
.actions a {
  display: inline-block;
  margin-top: 10px;
}
